body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

canvas {
  background-color: #111;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
}
